// Here you can add other styles
.text-danger{
    color:red;
}
.danger-message{
    font-size: 14px;
}
.border-danger{
    border: 2px solid red;
}
.position-abs{
    position:absolute;
    left:40px;
    bottom:-20px;
}
.m-width{
    width: 100%;
}